/*
 * Configuração da lista de post para post slider
 */


.slick-initialized .slick-slide {
display: block !important;
}

.blog_holder .elementor-posts-container{
width:100%;
display:block !important;
}

.blog_holder article {
margin: 7px !important;
}

.blog_holder .slick-prev::before, .blog_holder .slick-next::before {
color: #333;
}

